<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задание 4.05</title>
</head>
<body>
<article>
    <p><a href="/"><<<</a></p>
    <hr>
    <h1>Задание 4.05</h1>
    <section>
        <h2>Условие</h2>
        <p>Написать программу, которая будет выводить </p>
        <p>на экран случайные числа от 1 до 10 до тех</p>
        <p>пор, пока не выпадет 7.</p>
        <form action="/tasks/lesson4/task405/" target="_self">
            <button>Повторить задание</button>
        </form>

    </section>
    <section>
        <h2>Результат</h2>
        <p><span style="font-size: 30px">{{result}}</span></p>
    </section>
</article>
</body>
</html>