<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задание 4.06</title>
</head>
<body>
<article>
    <p><a href="/"><<<</a></p>
    <hr>
    <h1>Задание 4.06</h1>
    <section>
        <h2>Условие</h2>
        <p>Получить сумму кубов натуральных чисел </p>
        <p>от n до m используя цикл for</p>
        <form>
            <label for="id_input_number_n">Введите число n:</label>
            <input id="id_input_number_n" name="input_number_n" placeholder="000,00" type="number">
            <label for="id_input_number_m">Введите число n:</label>
            <input id="id_input_number_m" name="input_number_m" placeholder="000,00" type="number">
            <button type="submit">Выполнить</button>
        </form>

    </section>
    <section>
        <h2>Значение n</h2>
        <p><span style="font-size: 30px">{{result_n}}</span></p>
        <h2>Значение m</h2>
        <p><span style="font-size: 30px">{{result_m}}</span></p>
    </section>
    <section>
        <h2>Результат</h2>
        <p><span style="font-size: 30px">{{result}}</span></p>
    </section>
</article>
</body>
</html>>