<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задание 4.02</title>
</head>
<body>
<article>
    <p><a href="/"><<<</a></p>
    <hr>
    <h1>Задание 4.02</h1>
    <section>
        <h2>Условие</h2>
        <p>Просуммировать неопределенное количество чисел, </p>
        <p>вводимых пользователем, суммировать до тех пор, пока</p>
        <p>пользователь не нажмет кнопку STOP</p>

        <form method="post">
            <label for="id_input_number">Введите число:</label>
            <input id="id_input_number" name="input_number" placeholder="000,00" type="number">
            <button type="submit">Выполнить</button>
             <form><button value="stop" name="input_number" type="submit">STOP</button>
            <form action="/tasks/lesson4/task402/" target="_self">
            <button>Повторить задание</button>
            </form>
        </form>

    </section>
    <section>
        <h2>Введенные данные</h2>
        <p><span style="font-size: 30px">{{list_number}}</span></p>
        <h2>Результат</h2>
        <p><span style="font-size: 30px">{{result}}</span></p>
    </section>
</article>
</body>
</html>